pymongo[srv]==3.11
flask
python-dotenv
passlib
flask-jwt-extended
bcrypt==4.0.1
xmltodict
requests
fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
exponent_server_sdk
rollbar